* {
  margin: 0;
  padding: 0;
}
$primary: #3f82d7;
body {
  background: #eef0f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.button {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 28px;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);

  a {
    position: relative;
    background-color: $primary;
    z-index: 2;
    height: 56px;
    display: block;
    width: 100%;
    line-height: 56px;
    text-align: center;
    border-radius: 28px;
    color: #fff;
    span {
      display: block;
      cursor: pointer;
    }
    svg {
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -15px 0 0 -15px;
      fill: #fff;
    }
    .load {
      #rotar {
        transform-origin: center;
        animation: rotateRotar 0.5s linear infinite;
      }
    }
  }
}

.uploading {
  animation: expand 0.3s 0.6s ease-out forwards;
  a {
    animation: shrink 0.3s 0.3s ease forwards;
    span {
      animation: fadeOut 0.3s ease-out forwards;
    }
  }
}

.upload-progress {
  a {
    .load {
      display: block;
      animation: fadeOut 0.3s 2s forwards;
    }

    .check {
      display: block;

      opacity: 0;
      animation: fadeIn 0.3s 2.4s forwards;
    }
  }
  div {
    position: absolute;
    width: 220px;
    height: 5px;
    background-color: #ccc;
    top: 25px;
    left: 75px;
    border-radius: 5px;
    span {
      width: 220px;
      height: 5px;
      background-color: #0ee67a;
      display: block;
      transform: scaleX(0);
      transform-origin: left;
      animation: emergeOut 2s linear forwards;
    }
  }
}

.upload-after {
  animation: shrink-outer 1s ease forwards;
  a {
    width: 56px;
    animation: expand-inner 1s 1s ease forwards;
    span {
      opacity: 0%;
      animation: fadeIn 1s 2s ease forwards;
    }
  }
}

@keyframes rotateRotar {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes shrink {
  to {
    width: 56px;
  }
}

@keyframes expand {
  to {
    width: 320px;
  }
}

@keyframes emergeOut {
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shrink-outer {
  from {
    width: 320px;
  }
  to {
    width: 150px;
  }
}

@keyframes expand-inner {
  to {
    width: 100%;
  }
}
